<p>
  home works!
</p>
<div class="container-fluid">
  <div class='row' style="background-color:lavender;">
    <app-header></app-header>
      
  </div>
    
  <div class='row'>
    <div class='col-xs-2 col-md-2 col-sm-2 col-lg-2'>
      <app-left-manu></app-left-manu>
    </div>
    <div class='col-xs-10 col-md-10 col-sm-10 col-lg-10'>
      <app-main-content></app-main-content>
    </div>
    <div>
      
    </div>
  </div>
    
    
  <div class='row' style="background-color:lavender;">
    <app-footer></app-footer>  
  </div>
</div>

